.about-me {
    margin: auto;
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-text {
    width: 50%;
    height: fit-content;
    background-color: #ffbd1f;
    min-height: 320px;
    padding: 30px;
    border-radius: 10px;
}
.about-text a {
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    color: black;
}
.about-text a:hover {
    background-color: green;
    color: white;
}
.about-text h1 {
    text-align: center;
}
.about-me img {
    border-radius: 50%;
}
.album {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 30px;
}
.events {
    margin-top: 30px;
    text-align: center;
}
.product-card img {
    width: 250px;
    height: 250px;
}
.product-card {
    width: 300px;
    min-height: fit-content;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    cursor: pointer;
}
@keyframes shadow {
    0% {box-shadow: none;}
    100% {box-shadow: 0px 0px 15px 3px grey;}
}
.product-card:hover {
    animation: shadow 0.5s forwards;
}
.faq {
    width: 70%;
    margin: auto;
    padding:20px;
    background-color: #ffbd1f;
    border-radius: 20px;
    margin-bottom: 40px;
}
.interests {
    margin: auto;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
.interests ul, ol {
    padding: 40px;
    background-color: #ffbd1f;
    border-radius: 20px;

}


